.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  position: sticky;
  top: 0;
  background-color: var(--black);
  z-index: 1000;
}

.logo {
  font-size: 1.4rem;
  margin: 0rem;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.link {
  font-size: 0.9rem;
  color: var(--grey);
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  color: var(--white);
  transform: all 0.3s;
}

.drawer{
    display: none;
}
@media screen and (max-width: 800px) {
  .navbar{
    padding: 1.5rem;
  }
  .logo{
    font-size: 1rem;
  }
  .link{
    font-size:0.8rem;
  }
  .links {
    display: none;
  }
  .drawer{
    display: block;
  }
    .drawer-div {
    width: 40vw;
    background-color: var(--black);
    height: 100vh;
    padding: 0.5rem 1.5rem;
  }
}